@for (portal of portals(); track $index) {
  @if (portal.type === "component") {
    <ng-container
      [ngComponentOutlet]="portal.componentType"
      [ngComponentOutletInputs]="portal.componentInputs"
      [ngComponentOutletInjector]="portal.componentInjector"
      [ngComponentOutletContent]="portal.componentContent"
    />
  }

  @if (portal.type === "template") {
    <ng-container
      [ngTemplateOutlet]="portal.templateRef"
      [ngTemplateOutletContext]="portal.templateContext"
    />
  }
}
